.left-panel {
  color: white;
  background-color: rgb(40, 155, 201);
  min-height: 100vh;
}

nav {
  padding-left: 3em;
}
nav > a,
button.dahafazla {
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-size: 1em;
  font-weight: 500;
  width: 100%;
}
nav a span,
button.dahafazla span {
  display: flex;
  align-items: center;
  height: 2em;
  width: fit-content;
  padding: 0 0.7em;
}

nav > a:hover span,
button.dahafazla:hover span {
  background-color: blue;
  border-radius: 1em;
}

.left-panel button {
  background: unset;
  border: unset;
}
